#pageDestination {
  display: flex;
  margin: 25px 15px;
}
#pageDestination P {
  margin: 2px;
}

.temp_actu {
    max-width: 750px;
    text-align: center;
    padding: 45px 65px;
    margin: 3rem auto 5rem auto;
    background: #FFF;
}

.temp_actu h1 {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 400;
}

.temp_actu img {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    object-fit: cover;
    box-shadow:8px 8px 10px 0 rgba(202, 67, 13, 0.5);

}

.content_actu {
    text-align: left;
}

.temp_actu .actu_details {
    justify-content: center;
}

@media screen and (max-width: 780px) {
    .temp_actu {
        padding: 2rem;
        margin: 1.5rem;
    }
}