/* CONTACT */
#contact {
  border-top: 1px solid #c1bfbe;
}

.form-box {
    max-width: 700px;
    margin: 0 auto;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 0 0.8rem;
  border: 0;
}

.details {
  padding: 1.5rem 0;
}

.details p {
  padding-bottom: 0.8rem;
}

input,
textarea {
  display: block;
  border: 1px solid #000;
  background-color: transparent;
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 10px;
  background: #FFF;
}

input[type="submit"] {
  display: block;
  position: relative;
  padding: 10px 25px;
  font-weight: 700;
  color: #fff;
  background: #000;
  border: 2px solid transparent;
  margin-bottom: 0.8rem;
  cursor: pointer;
  transition: 0.3s all ease;
}

#submit:hover {
  color: #000;
  border: 2px solid #000;
  background: transparent;
}

input:focus,
textarea:focus {
  background: #fff;
}

.rgpd {
  display: flex;
  margin: 1rem 0;
}

.rgpd input {
  width: fit-content;
}

input[type="checkbox"] {
  display: block;
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
