.histoire-page .histoire {
    background: #FFF;
}

.plus {
    max-width: 830px;
    text-align: center;
    padding: 45px 65px;
    margin: 3rem auto;
    background: #FFF;
    border: 1px solid var(--blue);
}

.plus h2 {
    margin-bottom: 35px;
    font-weight: 400;
}

@media screen and (max-width: 780px) {
    .plus {
        padding: 2rem;
        margin: 1.5rem;
    }
}