.button_primary {
    background:black;
    color:#eee;
    padding: 10px 25px;
    border: 1px solid transparent;
    transition: all 0.3s;
    cursor: pointer;
}

.button_primary:hover {
    background: #FFF;
    color: var(--blue);
    border: 1px solid var(--blue);
}
