html {
  top: 0px;
  height: 100%;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 25px;
  background-color: white;
  border-bottom: 1px solid #dadada;
  z-index: 99;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: white;
}

.items {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(16, 22, 47, 1);
  border-bottom: 2px solid transparent;
  margin: 0 15px;
  transition: all 0.3s;
}

.items:hover {
  background-color: rgb(219, 190, 137);
  box-shadow: 10px 5px 5px black;
  border-bottom: 2px solid var(--blue);
}

.items a {
  color: var(--blue);
}

.burger {
  display: none;
  position: absolute;
  left: 12px;
  top: 35%;
  width: 40px;
  height: 22px;
  z-index: 50;
  padding: 0px 8px;
  color: rgba(16, 22, 47, 1);
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.burger input {
  opacity: 0;
}

.burger span {
  position: absolute;
  left: 50%;
  width: 26px;
  height: 2px;
  background-color: #000;
}

.burger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgba(16, 22, 47, 1);
  border-radius: 3px;
}

.burger span:nth-child(1) {
  top: 0;
  transform: translateX(-50%) translateY(0);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
    transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger span:nth-child(2) {
  top: 2px;
  opacity: 1;
  transform: translateX(-50%);
  transition: all ease 0.3s;
}

.burger span:last-child {
  top: 5px;
  transform: translateX(-50%) translateY(0);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
    transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger_open span:nth-child(1) {
  top: 11px;
  transform: translateX(-50%) translateY(0) rotate(45deg);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
    transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}

.burger_open span:nth-child(2) {
  opacity: 0;
}

.burger_open span:last-child {
  top: -7px;
  transform: translateX(-50%) translateY(0) rotate(-45deg);
  transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
    transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}

#volley_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  width: 148px;
  height: 48px;
  z-index: 40;
  color: var(--blue);
  background: #ffffff;
  border-radius: 100px / 100px;
}

#volley_logo h2 {
  font-size: 30px;
  margin-bottom: 0;
}

@media screen and (max-width: 1025px) {
  #volley_logo {
    margin: 0 auto;
  }
  nav {
    z-index: 99;
  }
  .burger {
    display: block;
  }
  .list {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid #dadada;
  }
  .items {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
}
